[Desktop Entry]
Encoding=UTF-8
Name=Unminimize 1
Comment=Animate the unminimizing of windows
Icon=preferences-system-windows-effect-unminimize1

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Vlad Zagorodniy
X-KDE-PluginInfo-Email=vladzzag@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_unminimize1
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KWin-Exclusive-Category=unminimize
